{
  "version": "1.1",
  "package": {
    "name": "Sumador de 4 bits",
    "version": "1.0.0",
    "description": "Sumador de dos valores de 4 bits con acarreo de entrada y salida",
    "author": "Salvador E. Tropea",
    "image": "%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20height=%225.005%22%20width=%225.005%22%3E%3Ctext%20style=%22text-align:start%22%20font-size=%2210%22%20y=%22203.791%22%20x=%22254.286%22%20font-family=%22Arial%22%20letter-spacing=%220%22%20word-spacing=%220%22%20transform=%22translate(-254.7%20-197.756)%22%3E%3Ctspan%20y=%22203.791%22%20x=%22254.286%22%20font-weight=%22bold%22%20fill=%22#0056f3%22%3E+%3C/tspan%3E%3C/text%3E%3C/svg%3E"
  },
  "design": {
    "board": "kefir",
    "graph": {
      "blocks": [
        {
          "id": "output-Cout",
          "type": "basic.output",
          "data": {
            "name": "Cout",
            "pins": [
              {
                "index": "0",
                "name": "",
                "value": "0"
              }
            ],
            "virtual": true
          },
          "position": {
            "x": 1240,
            "y": 272
          }
        },
        {
          "id": "input-A",
          "type": "basic.input",
          "data": {
            "name": "A",
            "range": "[7:0]",
            "pins": [
              {
                "index": "7",
                "name": "",
                "value": "0"
              },
              {
                "index": "6",
                "name": "",
                "value": "0"
              },
              {
                "index": "5",
                "name": "",
                "value": "0"
              },
              {
                "index": "4",
                "name": "",
                "value": "0"
              },
              {
                "index": "3",
                "name": "",
                "value": "0"
              },
              {
                "index": "2",
                "name": "",
                "value": "0"
              },
              {
                "index": "1",
                "name": "",
                "value": "0"
              },
              {
                "index": "0",
                "name": "",
                "value": "0"
              }
            ],
            "virtual": true,
            "clock": false
          },
          "position": {
            "x": 424,
            "y": 280
          }
        },
        {
          "id": "input-B",
          "type": "basic.input",
          "data": {
            "name": "B",
            "range": "[7:0]",
            "pins": [
              {
                "index": "7",
                "name": "",
                "value": "0"
              },
              {
                "index": "6",
                "name": "",
                "value": "0"
              },
              {
                "index": "5",
                "name": "",
                "value": "0"
              },
              {
                "index": "4",
                "name": "",
                "value": "0"
              },
              {
                "index": "3",
                "name": "",
                "value": "0"
              },
              {
                "index": "2",
                "name": "",
                "value": "0"
              },
              {
                "index": "1",
                "name": "",
                "value": "0"
              },
              {
                "index": "0",
                "name": "",
                "value": "0"
              }
            ],
            "virtual": true,
            "clock": false
          },
          "position": {
            "x": 424,
            "y": 352
          }
        },
        {
          "id": "output-S",
          "type": "basic.output",
          "data": {
            "name": "S",
            "range": "[7:0]",
            "pins": [
              {
                "index": "7",
                "name": "",
                "value": "0"
              },
              {
                "index": "6",
                "name": "",
                "value": "0"
              },
              {
                "index": "5",
                "name": "",
                "value": "0"
              },
              {
                "index": "4",
                "name": "",
                "value": "0"
              },
              {
                "index": "3",
                "name": "",
                "value": "0"
              },
              {
                "index": "2",
                "name": "",
                "value": "0"
              },
              {
                "index": "1",
                "name": "",
                "value": "0"
              },
              {
                "index": "0",
                "name": "",
                "value": "0"
              }
            ],
            "virtual": true
          },
          "position": {
            "x": 1240,
            "y": 416
          }
        },
        {
          "id": "input-Cin",
          "type": "basic.input",
          "data": {
            "name": "Cin",
            "pins": [
              {
                "index": "0",
                "name": "",
                "value": "0"
              }
            ],
            "virtual": true,
            "clock": false
          },
          "position": {
            "x": 424,
            "y": 440
          }
        },
        {
          "id": "8a3d1529-d85d-4070-a694-987334192e0b",
          "type": "basic.info",
          "data": {
            "info": "Sumador de 8 bits:\nSe construye a partir de dos sumadores de 4 bits.\nPrimero sumamos los bits menos pesados, al igual que como hacemos manualmente (sumamos las unidades),\nluego sumamos los más pesados, junto con el posible acarreo de la etapa anterior.",
            "readonly": true
          },
          "position": {
            "x": 408,
            "y": 88
          },
          "size": {
            "width": 944,
            "height": 112
          }
        },
        {
          "id": "093b5377-bcf1-4e8f-b497-26d859584604",
          "type": "basic.info",
          "data": {
            "info": "Este sumador se \nencarga de los 4\nbits más pesados",
            "readonly": true
          },
          "position": {
            "x": 832,
            "y": 200
          },
          "size": {
            "width": 192,
            "height": 80
          }
        },
        {
          "id": "a5d761b9-e353-4a1f-a9e2-7cdc48788c88",
          "type": "basic.info",
          "data": {
            "info": "Este sumador se \nencarga de los 4 \nbits menos pesados",
            "readonly": true
          },
          "position": {
            "x": 832,
            "y": 496
          },
          "size": {
            "width": 192,
            "height": 80
          }
        },
        {
          "id": "d9cd253c-e634-4a62-a987-21b2e0f9d02f",
          "type": "@sha1<./blocks/Varios/Buses/Separar/Split_2/Split_8_4,4.ice>",
          "position": {
            "x": 568,
            "y": 280
          },
          "size": {
            "width": 96,
            "height": 64
          }
        },
        {
          "id": "e3b72463-15d1-4549-9819-fc1fda4424b7",
          "type": "@sha1<./blocks/Varios/Buses/Separar/Split_2/Split_8_4,4.ice>",
          "position": {
            "x": 568,
            "y": 352
          },
          "size": {
            "width": 96,
            "height": 64
          }
        },
        {
          "id": "d5d0734e-eca0-406b-9112-a5167e8d3ceb",
          "type": "@sha1<./blocks/Varios/Buses/Unir/Join_2/Join_4,4_8.ice>",
          "position": {
            "x": 1088,
            "y": 416
          },
          "size": {
            "width": 96,
            "height": 64
          }
        },
        {
          "id": "3e98eae2-24b8-43a8-82b5-da647f889483",
          "type": "@sha1<./blocks/Varios/Aritmetica/Sumadores/Didáctico/Sumador_4_bits.ice>",
          "position": {
            "x": 840,
            "y": 280
          },
          "size": {
            "width": 96,
            "height": 96
          }
        },
        {
          "id": "dc0ce09b-76eb-4280-8d10-dfcd589459e9",
          "type": "@sha1<./blocks/Varios/Aritmetica/Sumadores/Didáctico/Sumador_4_bits.ice>",
          "position": {
            "x": 840,
            "y": 392
          },
          "size": {
            "width": 96,
            "height": 96
          }
        }
      ],
      "wires": [
        {
          "source": {
            "block": "input-A",
            "port": "out"
          },
          "target": {
            "block": "d9cd253c-e634-4a62-a987-21b2e0f9d02f",
            "port": "input-b"
          },
          "size": 8
        },
        {
          "source": {
            "block": "input-B",
            "port": "out"
          },
          "target": {
            "block": "e3b72463-15d1-4549-9819-fc1fda4424b7",
            "port": "input-b"
          },
          "size": 8
        },
        {
          "source": {
            "block": "d5d0734e-eca0-406b-9112-a5167e8d3ceb",
            "port": "output-o"
          },
          "target": {
            "block": "output-S",
            "port": "in"
          },
          "size": 8
        },
        {
          "source": {
            "block": "d9cd253c-e634-4a62-a987-21b2e0f9d02f",
            "port": "output-h"
          },
          "target": {
            "block": "3e98eae2-24b8-43a8-82b5-da647f889483",
            "port": "input-A"
          },
          "size": 4
        },
        {
          "source": {
            "block": "e3b72463-15d1-4549-9819-fc1fda4424b7",
            "port": "output-h"
          },
          "target": {
            "block": "3e98eae2-24b8-43a8-82b5-da647f889483",
            "port": "input-B"
          },
          "vertices": [
            {
              "x": 776,
              "y": 336
            }
          ],
          "size": 4
        },
        {
          "source": {
            "block": "3e98eae2-24b8-43a8-82b5-da647f889483",
            "port": "output-Cout"
          },
          "target": {
            "block": "output-Cout",
            "port": "in"
          }
        },
        {
          "source": {
            "block": "3e98eae2-24b8-43a8-82b5-da647f889483",
            "port": "output-S"
          },
          "target": {
            "block": "d5d0734e-eca0-406b-9112-a5167e8d3ceb",
            "port": "input-h"
          },
          "vertices": [
            {
              "x": 1016,
              "y": 392
            }
          ],
          "size": 4
        },
        {
          "source": {
            "block": "input-Cin",
            "port": "out"
          },
          "target": {
            "block": "dc0ce09b-76eb-4280-8d10-dfcd589459e9",
            "port": "input-Cin"
          }
        },
        {
          "source": {
            "block": "dc0ce09b-76eb-4280-8d10-dfcd589459e9",
            "port": "output-S"
          },
          "target": {
            "block": "d5d0734e-eca0-406b-9112-a5167e8d3ceb",
            "port": "input-l"
          },
          "size": 4
        },
        {
          "source": {
            "block": "dc0ce09b-76eb-4280-8d10-dfcd589459e9",
            "port": "output-Cout"
          },
          "target": {
            "block": "3e98eae2-24b8-43a8-82b5-da647f889483",
            "port": "input-Cin"
          }
        },
        {
          "source": {
            "block": "d9cd253c-e634-4a62-a987-21b2e0f9d02f",
            "port": "output-l"
          },
          "target": {
            "block": "dc0ce09b-76eb-4280-8d10-dfcd589459e9",
            "port": "input-A"
          },
          "vertices": [
            {
              "x": 752,
              "y": 368
            }
          ],
          "size": 4
        },
        {
          "source": {
            "block": "e3b72463-15d1-4549-9819-fc1fda4424b7",
            "port": "output-l"
          },
          "target": {
            "block": "dc0ce09b-76eb-4280-8d10-dfcd589459e9",
            "port": "input-B"
          },
          "vertices": [
            {
              "x": 736,
              "y": 432
            }
          ],
          "size": 4
        }
      ]
    },
    "state": {
      "pan": {
        "x": -314.4068,
        "y": -24.8898
      },
      "zoom": 0.8686
    }
  },
  "dependencies": {
@dependencies
  }
}
